/// Brand Color
color-primary           = #2F86F6 // 品牌色

/// Text Color
color-text-base         = #111A34 // 重要信息，如一级标题
color-text-base-inverse = #FFF
color-text-body         = #41485D // 普通信息，如正文主要内容
color-text-minor        = #666f83 // 次要信息，如利益点、摘要
color-text-caption      = #858B9C // 辅助信息，如列表内容描述
color-text-disabled     = #C5CAD5 // 禁用状态
color-text-placeholder  = #C5CAD5 // 默认提示输入或占位
color-text-highlight    = color-primary // 高亮状态
color-text-warn         = #FF7D41 // 利益点，警告提示
color-text-error        = #FF5257 // 强提示报错
color-text-link         = #5878B4 // 文字链接

/// Border & Background Color
color-border-base       = #E2E4EA // 条目边框
color-border-element    = #C5CAD5 // 元素边框，如按钮
color-bg-base           = #F9FAFB // 元素，容器背景
color-bg-inverse        = #FFF
color-bg-disabled       = #E2E4EA // 禁用元素背景
color-bg-tap            = #F9FAFB // 条目点击态
color-mask              = rgba(37, 38, 45, .7) // 弹窗蒙层

/// Text Size
font-heading-large  = 60px
font-heading-medium = 52px
font-heading-normal = 44px
font-caption-large  = 36px
font-caption-normal = 32px
font-body-large     = 28px
font-body-normal    = 26px
font-minor-large    = 24px
font-minor-normal   = 20px

font-weight-light    = 300
font-weight-normal   = 400
font-weight-medium   = 500
font-weight-semibold = 600

/// Radius Size
radius-normal = 4px
radius-circle = 50%

/// Border Size
border-width-base = 2px

/// Spacing size
h-gap-xs = 8px
h-gap-sm = 12px
h-gap-md = 20px
h-gap-lg = 32px
h-gap-sl = 40px

v-gap-xs = 8px
v-gap-sm = 12px
v-gap-md = 20px
v-gap-lg = 32px
v-gap-sl = 40px

/// Transition
ease-in-out-quint = cubic-bezier(.86, 0, .07, 1)

/// Opacity
opacity-disabled = .3 // opacity of disabled button, switch, agree

/// Font Family
font-family-normal = "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif
font-family-number = DINPro-Medium, DIN Alternate, "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif

/// Configration
support-for-ie = false
