{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["iOS >= 8", "Android >= 4"]
      }
    }]
  ],
  "plugins": [
    "transform-object-rest-spread",
    "syntax-dynamic-import",
    "transform-vue-jsx",
    ["import", {
      "libraryName": "mand-mobile",
      "libraryDirectory": "components"
    }]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }}]
      ]
    }
  }
}
