{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["iOS >= 8", "Android >= 4"]
      }
    }]
  ],
  "plugins": ["syntax-dynamic-import"],
  "env": {
    "test": {
      "presets": [["@babel/preset-env", {
        "modules": false
      }], "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
