{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["iOS >= 8", "Android >= 4"]
      }
    }]
  ],
  "plugins": ["transform-object-rest-spread", "syntax-dynamic-import"],
  "env": {
    "test": {
      "presets": [["env", {
        "modules": false
      }], "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
