.DS_Store
node_modules/
dist/
lib/
output/
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/coverage
test/unit/coverage
test/e2e/reports
selenium-debug.log
site/public
site/dist
site/build/bin/algolia-key.js
lib-vw
coverage/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
