@require "./../theme.variables.styl"

// ui components theme

// steps
steps-icon-size = 22px
steps-text-gap-vertical = 12px
steps-color = color-text-caption
steps-text-color = color-text-minor

steps-horizontal-icon-size = 15px
