@require "./../theme.variables.styl"

// ui components theme

// steps
steps-icon-size = 22px
steps-text-gap-vertical = 12px
steps-color = color-text-caption
steps-text-color = color-text-minor

steps-horizontal-icon-size = 15px

// icon
icon-size-xs = 20px
icon-size-sm = 28px
icon-size-md = 36px
icon-size-lg = 40px

// landscape
landscape-width = 286px
