@require "./../theme.variables.styl"

// ui components theme

// steps
steps-icon-size = 22px
steps-text-gap-vertical = 12px
steps-color = color-text-caption
steps-text-color = color-text-minor

steps-horizontal-icon-size = 15px

// icon
icon-size-xs = 20px
icon-size-sm = 28px
icon-size-md = 36px
icon-size-lg = 40px

// landscape
landscape-width = 286px

// button
// button
button-primary-fill = linear-gradient(135deg, #FFBF6C 0%, #FF8B3A 100%);
button-default-fill = color-bg-inverse
button-disabled-fill = color-bg-disabled
button-warning-fill = color-text-error

button-primary-active-fill = linear-gradient(135deg, #F2841D 0%, #E75D00 100%);
button-default-active-fill = color-bg-base
button-warning-active-fill = #E9424F

button-primary-plain-active-fill = #EAF2FE
button-default-plain-active-fill = color-bg-base
button-warning-plain-active-fill = #FAC3C6

button-default-color = color-text-body
button-primary-color = #fff
button-disabled-color = color-text-base-inverse
button-warning-color = color-text-base-inverse

button-default-plain-color = button-default-color
button-primary-plain-color = button-primary-fill
button-warning-plain-color = button-warning-fill
button-disabled-plain-color = color-text-disabled

button-height = 32px
button-font-size = font-caption-normal
button-font-weight = font-weight-medium

button-small-height = 20px
button-small-font-size = font-caption-normal

button-large-height = 48px
button-large-font-size = font-caption-large

button-radius = radius-normal
