body
  font-family font-family-normal
  -webkit-tap-highlight-color transparent
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
ol, li
  list-style none
@font-face
  font-family DINPro-Medium
  /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
  src url("//manhattan.didistatic.com/static/manhattan/mand-mobile/DINPro-Medium.ttf") format("truetype")
  font-style normal
  font-weight normal
