.doc-demo-title a
  margin 0 5px
  background #2f86f6
  color #fff
  padding 5px 10px
  border-radius 2px
  font-size 12px
  font-family DINPro
  -webkit-font-smoothing antialiased
  text-decoration none
  transition all .3s
  &:hover
    opacity .8
.doc-demo-box-priview ul>li
  list-style none !important

.doc-content-qrcode
  img
    display inline-block
    width 100%
    margin-top 10px
    opacity .8