.doc-demo-title a
  margin-right 5px
  background color-primary-tap
  color #fff
  padding 5px 10px
  border-radius 4px
  font-size 16px
  text-decoration none
.doc-demo-box-priview ul>li
  list-style none !important

.doc-content-qrcode
  img
    display inline-block
    width 100%
    margin-top 10px
    opacity .8