.doc-content-paragraph, .doc-demo-box-code{
  h1, h2, h3, h4 {
    color: #333;
    font-weight: 500;
    margin-top: 2em;
    &:first-child {
      margin-top: 1em;
    }
  }

  h1, h2, h3, h4, h5, p , dl{
    margin-bottom: 16px;
    padding: 0;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
  }
  h1, h2, h3, h4, h5{
    a{
      margin-left: 10px;
      display: none;
      text-decoration: none;
      font-weight: bold;
    }
    &:hover a{
      display: inline;
    }
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h1, h2 {
    padding-bottom: 10px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 1em;
  }
  a {
    color: #2f86f6;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    margin: 0 2px;
    font-weight: 500;
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
    color: #ff6600;
  }
  a:visited {
    /*color: purple;*/
  }
  ul, ol {
    padding: 0;
    padding-left: 24px;
    margin-top: 10px;
  }
  li {
    margin-bottom: 5px;
    line-height: 24px;
    list-style: circle;
  }
  p, ul, ol {
    font-size: 14px;
    line-height: 24px;
  }

  ol ol, ul ol {
    list-style-type: lower-roman;
  }

  p {
    color: #5e6d82;
  }

  code, pre {
    border-radius: 3px;
    color: inherit;
  }

  code {
    font-family: Consolas,Menlo,Courier,monospace !important;
    -webkit-font-smoothing: initial;
    margin: 0 2px;
    padding: 2px 5px;
    // border: solid 1px #f0f0f0;
    background-color:#f2f4f5;
    font-size: 13px;
  }

  code * {
    // font-family: "Roboto Mono", Monaco, courier, monospace !important;
    // font-size: 12px;
    -webkit-font-smoothing: initial;
  }

  pre {
    position: relative;
    margin-bottom: 1em;
    line-height: 1.7em;
    overflow: auto;
    padding: 20px 20px 15px;
    box-sizing: border-box;
    background-color:#f2f4f5;
  }

  pre > code {
    border: 0;
    display: block;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: auto;
    line-height: inherit;
    font-size: 13px;
    white-space: pre;
    background: 0 0;
    // font-family: Consolas,Menlo,Courier,monospace !important;
  }

  code {
    color: #314659;
  }
  code:after{
    content: '';
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ccc;
    font-size: 12px;
    font-weight: 600;
    // opacity: .3;
  }
  code.language-vue:after{
    content: 'Vue';
  }
  code.language-css:after{
    content: 'Css';
  }
  code.language-javascript:after{
    content: 'JS';
  }
  code.language-shell:after{
    content: 'Bash';
  }
  code.language-stylus:after{
    content: 'Stylus';
  }

  /** markdown preview plus 对于代码块的处理有些问题, 所以使用统一的颜色 */
  /*code .keyword {
  color: #8959a8;
  }

  code .number {
  color: #f5871f;
  }

  code .comment {
  color: #998
  }*/

  aside {
    display: block;
    float: right;
    width: 390px;
  }
  blockquote {
    border-left:.3em solid #2F86F6;
    padding: 1em;
    margin-left:0;
    margin-bottom: 1em;
    background: rgba(252, 145, 83, 0.05);
    // border-radius: 4px;
  }
  blockquote  cite {
    font-size:14px;
    line-height:20px;
    color:#bfbfbf;
  }
  blockquote cite:before {
    content: '\2014 \00A0';
  }

  blockquote p {
    margin: 0;
    color: #666;
  }
  hr {
    text-align: left;
    color: #999;
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
  }

  dl {
    padding: 0;
  }

  dl dt {
    padding: 10px 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
  }

  dl dd {
    padding: 0 16px;
    margin-bottom: 16px;
  }

  dd {
    margin-left: 0;
  }

  /* Code below this line is copyright Twitter Inc. */

  button,
  input,
  select,
  textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
  }
  button, input {
    line-height: normal;
    *overflow: visible;
  }
  button::-moz-focus-inner, input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
  button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
  }
  input[type=checkbox], input[type=radio] {
    cursor: pointer;
  }
  /* override default chrome & firefox settings */
  input:not([type="image"]), textarea {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }

  input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }
  label,
  input,
  select,
  textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
    line-height: normal;
    margin-bottom: 18px;
  }
  input[type=checkbox], input[type=radio] {
    cursor: pointer;
    margin-bottom: 0;
  }
  input[type=text],
  input[type=password],
  textarea,
  select {
    display: inline-block;
    width: 210px;
    padding: 4px;
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    height: 18px;
    color: #808080;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
  }
  select, input[type=file] {
    height: 27px;
    line-height: 27px;
  }
  textarea {
    height: auto;
  }
  /* grey out placeholders */
  :-moz-placeholder {
    color: #bfbfbf;
  }
  ::-webkit-input-placeholder {
    color: #bfbfbf;
  }
  input[type=text],
  input[type=password],
  select,
  textarea {
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
  input[type=text]:focus, input[type=password]:focus, textarea:focus {
    outline: none;
    border-color: rgba(82, 168, 236, 0.8);
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  }
  /* buttons */
  button {
    display: inline-block;
    padding: 4px 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid #004b9a;
    border-bottom-color: #003f81;
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    transition: 0.1s linear all;
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }
  button:hover {
    color: #fff;
    background-position: 0 -15px;
    text-decoration: none;
  }
  button:active {
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  }
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: #fafafa;
    font-size: 14px;
    margin-bottom: 45px;
    line-height: 1.5em;
  }

  table td, table th {
    position: relative;
    border-bottom: .5px solid #ebebeb;
    padding: 15px;
    max-width: 250px;
    font-size: 13px;
    code {
      font-size: 12px;
    }
    sup.version-after, sup.version-before {
      position: absolute;
      top: 3px;
      // right: 0;
      padding: 0px 3px;
    }
  }

  table th {
    text-align: left;
    white-space: nowrap;
    color: #666;
    font-weight: 400;
    border: none;
    background: #f0f0f0;
  }

  table td:first-child {
    font-weight: 600;
    font-family: "Roboto Mono", monospace;
    color: #111A34;
    width: 20%;
  }

  // table td:last-child, table th:last-child {
  //   border-right: solid 1px #ebebeb;
  // }

  table tr:last-child td {
    border: none;
  }

  table th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
    border: none;
  }
  table th:last-child {
    padding-right: 1px;
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
    border: none;
  }
  table th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
  }
  table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 6px;
    -webkit-border-radius: 0 0 0 6px;
    border-radius: 0 0 0 6px;
  }
  table tr:last-child td:last-child {
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
    border-radius: 0 0 6px 0;
  }
  img {
    vertical-align: middle;
    max-width: 100%;
  }
  sup.version-after {
    padding: 1px 5px;
    font-size: 14px;
    color: #fff;
    background: #2F86F6;
    border-radius: 2px;
    font-style: normal;
    transform: scale(.6);
    opacity: .6;
  }
  sup.version-before {
    padding: 1px 5px;
    font-size: 16px;
    color: #fff;
    background: #f56c6c;
    border-radius: 2px;
    font-style: normal;
    transform: scale(.6);
    opacity: .6;
  }
}

@media (max-width: 750px) {
  .doc-content-paragraph, .doc-demo-box-code {
    font-size 12px !important;
    p, ul, ol {
      font-size: 12px;
    }
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 20px;
    }
    h3 {
      font-size: 18px;
    }
    h4 {
      font-size: 14px;
    }
    h5 {
      font-size: 12px;
      font-weight: 400;
    }
    h1, h2, h3, h4, h5, p , dl{
      margin-bottom: 12px;
    }
    pre > code, code * {
      font-size: 12px;
    }
    table {
      table-layout: fixed;
    }
    table td, table th {
      font-size: 12px;
    }
    table tr th:nth-child(5), table tr td:nth-child(5){
      display: none;
    }
  }
}
